body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #cdcadf;
}

.container {
    display: inline-block;
    width: 1000px;
    margin-left: calc(50% - 500px);
}

header.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo {
    height: 60px;
    margin-right: auto;
}

nav {
    display: flex;
    gap: 20px;
}

nav > a {
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav > a.active {
    color: red;
}


.user-actions > .fa {
   padding: 10px;  
}

/* **************** */
/*     content      */
/* **************** */

main.container {
    height: calc(100vh - 120px);
    position: relative;
    background-image: url(../img/shoes-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;

}

/*  About */

.about {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
    max-width: 500px;
    min-width: 200px;
    position: absolute;
    left: 0;
    top: calc(50% - 40px);
    transform: translateY(-50%);
}

.about > h1 {
    font-size: 60px;
    color: red;
}

.about > p {
    color: #555;
    font-size: 25px;
}

.about > .price {
     font-size: 28px;
}

.about > a {
    display: flex;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
    text-decoration: none;
}

.about > a > span {
     padding: 10px 30px ;
     text-transform: uppercase;
     background-color: red;
}

.about > a > .fa {
      padding: 10px;
      background-color: #111;
      
}

/*  Number */

.number {
    position: absolute;
    top: 5%;
    right: 10%;
    font-size: 150px;
    color: #f002;


}

/*  Social */

.socials {
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.socials > .fa {
     color: #555;
     width: 30px;
     height: 30px;
     text-align: center;
     line-height: 27px;
     border-radius: 15px;
     text-decoration: none;
     border: 2px solid #555;
}

/*  Pagination */

.pagination {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 200px;
}

.pagination > .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #f00;
}


.pagination > .bar {
     display: inline-block;
     width: 100%;
     height: 5px;
     color: #f006;
}

.pagination > .bar > .value {
      display: inline-block;
      width: 25%;
      height: 100%;
      background-color: #f00;
}